<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seneca Bakery</title>
</head>
<body>
    <div style="border-style: solid" style="border-radius: 3px" style="border-color: darkmagenta">
        <h2>Inventory Prototype System</h2><br>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/addProduct">Add a Product</a></li>
                <li><a href="/viewProducts">View Products</a></li>        
            </ul>
        </nav>
        <main>
            <div>
                This is the inventory webpage for Seneca Bakery
            </div>
        </main>
    </div>
</body>
</html>